# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
dest/

# PyCharm files
.idea/
*.iml
*.ipr
*.iws
*.bak
*.swp

# Virtual environment
venv/
.venv*
venv-mac

**/.DS_Store


ls_volume
**/.pulumi/
yarn.lock
yarn-error.log
package-lock.json
out.txt

**/build/**
src/**/*.zip

**/node_modules/
.DS_Store

venv
venv-local
venv-mac
.vscode

frontend/dist
**/DEADJOE
**/__pycache__/**
**/*.pyc
.coverage

**/.env
.env-gdc-local
!.env-gdc
Pulumi.*.*

iac/Pulumi.simple*
pulumi_output.json
__pycache__
src/profile_python/lambda/handlers/package/*
src/profile_python/lambda/handlers/build/*
**/set-target-pulumi-vars.sh
**/.idea/
*.iml

lib.egg-info
/dockDockBuildParams.json
**/checksum
**/.pytest_cache/
/aws_session
auto_tests/auth0_mock/ext_pk/
auto_tests/test_report
auto_tests/ls_volume
**/src/**/*.zip
**/jwks*.json
**/*.pem
output.txt

*~
/.env-temp
/.env-org
*.csv

.terraform*
terraform.tfstate*
nonenv.makefile

!devops-tooling/accounts/non-demo.json
!devops-tooling/accounts/localstack.json
devops-tooling/accounts/my-sb-*.json
devops-tooling/sandboxenv.makefile

auto_tests/*-output.json

local-cdktf-output.json
cdktf-output.json
hello.txt
venv2
bundle